/* styles.css */
body {
 font-family: sans-serif;
}
header, footer {
 background-color: #f1f1f1;
 text-align: center;
 padding: 10px 0;
}
main {
 max-width: 800px;
 margin: 0 auto;
 padding: 15px;
}
h1, h2 {
  color: #333;
  font-family: "Consolas", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New";
}
section {
 margin-bottom: 15px;
}

/* Style the button that is used to open and close the collapsible content */
/* https://colorhunt.co/palette/22283131363f76abaeeeeeee */
.collapsible {
  background-color: #31363F;
  color: #76ABAE;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: "Consolas", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #222831;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #EEEEEE;
}
